body {
    background-color: rgb(248, 248, 248);
}
body {
    color: rgb(0, 0, 0);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14 16;
  text-decoration: none;
}

ul li a:hover {
  background-color: #909090;
}